<html>
<head>
<title></title>
</head>
<body>
<form action="/">
<button type="submit">home</button>
</form>
<table>
<table border="2">
<tr style='background-color:skyblue'><th style="width:35%;text-align:center">First_Name</th><th style="width:35%">Last_Name</th><th style="width:35%">Delete</th><th style="width:35%">Edit</th></tr>
{% for i in db.values %}
    <tr><td style="width:35%;text-align:center">{{i.fname}}</td><td style="width:35% ;text-align:center">{{i.lname}}</td><td style="width:35% ;text-align:center;background-color:red"><form action="delete" method="get"><button type="submit" value={{i.id}} name="d1">Delete</button></form></td><td style="width:35% ;text-align:center;background-color:skyblue">
<form action="edit" method="get"><button type="submit" value={{i.id}} name='ed'>Edit</button></form></td></tr>
{% endfor %}
</table>
</body>
</html>